# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MY_P\MyShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
